        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center">
              <h1 class="error-number">500 - ERROR</h1>
              <h2>Internal Server Error</h2>
              <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing. <a href="#">Report this?</a>
              </p>
     
			  <div class="mid_center" style="width: 90%;">
                <h3>Error</h3>

<div class="row vertical-center-row background-image"     style="background-image: url(/images/404.jpg);">
  <div class="">
	<div style="display: block;
    font-family: Menlo,Monaco,Consolas,monospace;
	padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-wrap: break-word;
    background-color: rgba(245, 245, 245, 0.88);
    border: 1px solid #ccc;
    border-radius: 4px;
	text-align: left">
	<p>Cachis ... :(</p>
	<p>URL:{{url}}</p>
	<p>Name:{{name}}</p>
	<p>Message:{{message}}</p>
	<p>{{stack}}</p>
	</div>
  </div>
</div>


              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


