<!DOCTYPE html>
<html lang="en">
  <head>
	<% include head-error.ejs %>
  </head>

  <body class="login layout-login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div id="login" class="animate form login_form">
          <section class="login_content">
            <form id="form">
              <h1>Login Form</h1>
              <div>
                <input name="id" type="text" class="form-control" placeholder="Username" required="true" autofocus />
              </div>
              <div>
                <input name="password" type="password" class="form-control" placeholder="Password" required="true" />
              </div>
              <h5 id="login-error" style="color:red;display:none;">Login error</h5>

              <div>
                <button type="submit" class="btn btn-default submit" >Log in</button>
              </div>

			  <!-- Create Account-->
              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />
              </div>


            </form>
          </section>
        </div>













        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form id="createAccountForm">
              <h1>Create Account</h1>
              <div>
                <input name="userId" type="text" class="form-control" placeholder="Username" required="true" />
              </div>
              <div>
                <input name="email" type="email" class="form-control" placeholder="Email" required="true" />
              </div>
              <div>
                <input name="password1" type="password" class="form-control" placeholder="Password" required="true" />
              </div>
              <div>
                <input name="password2" type="password" class="form-control" placeholder="Retype your Password" required="true" />
              </div>
              <h5 id="account-fails-message" style="color:red;display:none;">Login error</h5>
              <div>
                <button type="submit" class="btn btn-default submit">Submit</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

              </div>
            </form>
          </section>
        </div>









      </div>
    </div>
	<% include javascript-footer.ejs %>
  </body>
</html>
