<!DOCTYPE html>
<html lang="en">
  <head>
	<% include head-error.ejs %>
  </head>

  <body class="nav-md layout-error">
    <div class="container body">
      <div class="main_container" id="viewport">

		<%- include(config.PATH+"/ejs/"+meta.CONTENT) %>

      </div>
    </div>

	<% include javascript-footer.ejs %>
  </body>
</html>

<script	type="text/html" id="page-error"><%- render.pageForTemplate("pages/error.ejs") -%></script>
