<!doctype html>
<html lang="<%= meta.LANG %>">
  <head>
	<% include head.ejs %>
  </head>
<body class="nav-md layout">

    <div class="container body">
      <div class="main_container">

<% include sidebar-menu.ejs %>

<% include top-navigation.ejs %>

<%- include(config.PATH+"/ejs/"+meta.CONTENT) %>

<% include footer.ejs %>
      </div>
    </div>

<% include javascript-footer.ejs %>
</body>
</html>
<script	type="text/html" id="page-index"><%- render.pageForTemplate("pages/page-index.ejs") -%></script>
